$primaryColor: #4b7325;
$primaryColorLight: #91b368;
$backgroundColor: #ffffff;
$textColor: #555671;
$textColorLight: #c5c5cd;
$textButtonColor: #ffffff;
$titleColor: #181a3f;
$linesColor: #dad9d6;
$transparent: transparent;

$fontMontserrat: 'Montserrat', sans-serif;
$fontInter: 'Inter', sans-serif;

$fontSizeH1: 40px;
$fontSizeH2: 36px;
$fontSizeH3: 28px;
$fontSizeButton: 20px;
$fontSizeText: 18px;
$fontSizeSmall: 16px;
$fontSizeExtraSmall: 12px;

$fontWeightRegular: 400;
$fontWeightBold: 700;

$paddingPage: 10px 15px;

$transition: all 0.2s ease-out;
$hoverOpacity: 0.7;
